//------------------------------//
/*CONTENT SECTION*/
//------------------------------//

.content {
  position: absolute;
  top: 99vh;
  height: auto;
  width: 100%;
  background-color: #15151d;
  z-index: 1000;

  .content-restrict {
    margin: auto;
    padding: 2rem 1rem;
    width: 100%;
    max-width: 600px;
  }
}

.slogan-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;

  @include media("<tablet") {
    width: 100%;
    flex-direction: column;
  }

  .dice-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;

    @include media("<tablet") {
      width: 7%;
    }

    @include media("<tablet") {
      &.dice-left {
        margin: 0 0 1rem 0;
      }

      &.dice-right {
        margin: 1rem 0 0 0;
      }
    }

    img {
      width: 100%;
      opacity: 0.8;
      z-index: 10;
    }
  }

  .slogan-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trajan Pro Bold", sans-serif;
    text-transform: lowercase;
    margin: 0 0rem;
    width: 70%;

    @include media("<tablet") {
      width: 90%;
    }

    .slogan-top {
      font-size: 2rem;
      margin: 0;
      color: $grey;
      margin-bottom: -0.5rem;
      text-align: center;

      @include media("<tablet") {
        font-size: 1.5rem;
      }
    }

    .slogan-box {
      overflow: hidden;
      width: 100%;

      .slogan-flex {
        width: 300%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .slogan-central {
          font-size: 3.5rem;
          margin: 0;
          color: $red;
          width: 100%;
          text-align: center;
          transition: all 0.8s ease;

          @include media("<tablet") {
            font-size: 3rem;
          }

          &.slogan-0 {
            transform: translateX(0);
          }

          &.slogan-1 {
            transform: translateX(100%);
          }

          &.slogan-2 {
            transform: translateX(200%);
          }
        }
      }
    }

    .slogan-bottom {
      font-size: 2.5rem;
      margin: 0;
      color: $grey;
      margin-top: -0.5rem;

      @include media("<tablet") {
        font-size: 1.9rem;
      }
    }
  }
}

section.caroussel-description {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  margin: 2rem 0 0 0;
  position: relative;

  @include media("<tablet") {
    margin: 0;
  }

  .move-button-container {
    position: absolute;
    right: -7rem;
    top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    overflow: hidden;

    @include media("<=desktop") {
      display: none;
    }

    &.previous {
      justify-content: flex-start;
      left: -7rem;
      right: unset;

      p {
        transform: translateX(-3rem);
      }
    }

    img {
      height: 2rem;
      opacity: 0.4;
      transition: all 0.3s ease;
    }

    p {
      font-family: "Roboto Condensed", sans-serif;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: $grey;
      opacity: 0;
      transition: all 0.3s ease;
      transform: translateX(3rem);
    }

    &:hover {
      p,
      img {
        opacity: 1;
      }

      p {
        width: auto;
        transform: translateX(0);
      }
    }
  }

  .caroussel-description-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .caroussel-description-box {
      width: 100%;
      overflow: hidden;

      .caroussel-description-flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 300%;
        overflow: hidden;
        flex-wrap: nowrap;

        p {
          text-align: justify;
          text-align-last: center;
          color: $grey;
          font-weight: 300;
          transition: all 0.8s ease;
          width: 100%;
          font-size: 1.2rem;

          &.page-0 {
            transform: translateX(0);
          }

          &.page-1 {
            transform: translateX(100%);
          }

          &.page-2 {
            transform: translateX(200%);
          }

          strong {
            font-weight: 400;
            color: $yellow;
          }
        }
      }
    }

    .caroussel-points-box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .move-button-container {
        display: none;

        @include media("<=desktop") {
          display: flex;
          position: initial;
          position: absolute;
          top: 0;

          &.previous {
            margin: 0 0 0 1rem;
            left: 0;
          }

          &.next {
            margin: 0 1rem 0 0;
            right: 0;
          }
        }
      }

      ul {
        display: flex;
        justify-content: space-evenly;
        width: 20%;
        list-style: none;
        padding: 0;

        li {
          background-color: $grey;
          width: 0.6rem;
          height: 0.6rem;
          border-radius: 0.3rem;
          margin: 0;
          opacity: 0.3;
          transition: all 0.3s ease;

          &.current {
            opacity: 1 !important;
          }
        }
      }
    }
  }
}

.divider {
  width: 100%;
  height: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 3rem 0;

  img {
    height: 100%;
    margin: auto;
    opacity: 0.3;
  }
}

section.features-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  @include media("<tablet") {
    @for $i from 1 through 12 {
      .order-#{$i} {
        order: $i;
      }
    }
  }

  .feature-container {
    flex: 1 0 44%;
    margin: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 100;

    &::after {
      content: "";
      border: solid $grey;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      opacity: 0;
      transition: all 0.3s ease;
      margin-top: 0;
    }

    &:hover::after,
    &.current::after {
      opacity: 1;
      margin: 0.5rem 0;
    }

    img {
      width: 30%;
      opacity: 0.8;
      margin: 0 0 0.3rem 0;
    }

    h4 {
      margin: 0;
      padding: 0;
      color: $grey;
      text-transform: lowercase;
      font-family: "Trajan Pro Bold", sans-serif;
      font-weight: 700;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .feature-description {
    width: 90%;
    height: 0px;
    border: 1px solid $grey;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0.5rem;
    z-index: -1;
    transition: 0.8s;

    &::before,
    &::after {
      position: absolute;
      background: $black;
      z-index: -1;
      transition: 0.8s;
      content: "";
    }

    &::before {
      height: 150px;
      width: 90%;
    }

    &::after {
      width: 100.5%;
      height: 120px;
    }

    p {
      height: auto;
      color: $grey;
      font-weight: 300;
      overflow: hidden;

      strong {
        color: $yellow;
        font-weight: 500;
      }
    }
  }

  .selected {
    height: 150px;
    z-index: 5;

    p {
      height: auto;
    }

    &::before {
      width: 0px;
    }

    &::after {
      height: 0px;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: $navy;
  position: relative;
  z-index: 10;

  section.support-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    h3 {
      font-family: "Trajan Pro Bold", sans-serif;
      font-weight: 600;
      margin: 0 0 1rem 0;
      color: $grey;
      font-size: 3rem;
      text-align: center;

      @include media("<tablet") {
        font-size: 2rem;
      }
    }

    .support-description-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;

      p {
        color: $grey;
        font-family: "Roboto Condensed", sans-serif;
        font-weight: normal;
        text-align: justify;
        text-align-last: left;
        margin: 0.5rem 0;
        font-size: 1.1rem;

        a {
          text-decoration: none;
          color: $lightBlue;
          font-weight: bold;
          cursor: pointer;
          background-image: linear-gradient($lightBlue, $lightBlue);
          background-position: 0% 100%;
          background-repeat: no-repeat;
          background-size: 0% 2px;
          transition: background-size 0.3s;

          &:hover,
          &:focus {
            background-size: 100% 2px;
          }
        }
      }

      img {
        align-self: flex-end;
        width: 37%;
        margin: 1rem 0 0 0;

        @include media("<tablet") {
          width: 63%;
        }
      }
    }

    .support-buttons-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      row-gap: 1rem;
      align-items: center;
      width: 100%;
      margin: 2rem 0 1rem 0;

      a {
        background: $blue;
        border: solid 2px $grey;
        font-family: "Trajan Pro Bold", sans-serif;
        font-weight: 500;
        text-align: center;
        color: $grey;
        text-decoration: none;
        height: 3rem;
        font-size: 2rem;
        padding: 0.2rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: 0.25s;

        &.discord::before {
          content: "";
          height: 2rem;
          width: 2rem;
          background-image: url("../assets/img/icons/discord.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          margin: 0 0.5rem 0 0;
          opacity: 0.8;
        }

        &:hover,
        &:focus {
          transform: scale(1.04);
          box-shadow: 0px 0px 10px 1px rgba($grey, 0.4);
        }
      }
    }
  }
}

section.preview-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 0;

  .preview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 2rem 0;

    h2 {
      text-align: center;
      margin: 0;
      font-family: "Trajan Pro Bold", sans-serif;
      color: $grey;
      font-size: 3rem;
    }

    h3 {
      text-align: center;
      margin: 0;
      font-family: "Trajan Pro Bold", sans-serif;
      color: $red;
      font-size: 1.8rem;
    }
  }

  .preview-visuals {
    width: 60%;
    margin: auto;
    position: relative;

    @include media("<tablet") {
      width: 90%;
    }

    .clickable-zone {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
      height: 62%;
      cursor: pointer;
    }

    .click-here {
      position: absolute;
      width: 30%;
      top: 12%;
      left: 10%;

      img {
        width: 100%;
      }
    }

    .preview-image {
      width: 100%;
      margin: 2rem 0 0 0;
      img {
        display: block;
        margin: auto;
        width: 100%;
      }
    }
  }
}

footer {
  width: 100%;
  min-height: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @include media("<=2K") {
    background-image: url($baseurl + "assets/img/layers/desktop/footer.png");
  }

  @include media(">2K", "<=4K") {
    background-image: url($baseurl + "assets/img/layers/2K/footer.png");
  }

  @include media(">4K") {
    background-image: url($baseurl + "assets/img/layers/4K/footer.png");
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.25);
    width: 100%;
    padding: 2rem 0;

    .footer-logo-container {
      width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      h5 {
        font-family: "Trajan Pro Bold", sans-serif;
        font-weight: bold;
        margin: 0;
        font-size: 1.4rem;
        text-align: center;
        color: $grey;
      }

      h6 {
        font-family: "Roboto Condensed", sans-serif;
        font-weight: normal;
        margin: 0;
        font-size: 1rem;
        text-align: center;
        color: $grey;
      }
    }

    .socials-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.75rem 0 0.5rem 0;

      a,
      div a {
        height: 1rem;
        width: 1rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.7;
        margin: 0 0.3rem;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover,
        &:focus {
          filter: brightness(0) saturate(100%) invert(88%) sepia(14%)
            saturate(1610%) hue-rotate(331deg) brightness(95%) contrast(86%);
        }

        &.mail {
          background-image: url("../assets/img/icons/footer/mail.png");
        }
        &.discord {
          background-image: url("../assets/img/icons/footer/discord.png");
        }
        &.instagram {
          background-image: url("../assets/img/icons/footer/instagram.png");
        }
        &.linkedin {
          background-image: url("../assets/img/icons/footer/linkedin.png");
        }
      }
      .socials-mail {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        p {
          margin: 0;
          color: $grey;
          font-size: 0.8rem;
          font-family: "Roboto", sans-serif;
          font-weight: 200;
          margin: 0 0.3rem 0 0;
        }
      }
    }
    .copyright-container {
      width: 100%;
      padding: 0 1rem;
      p {
        color: $grey;
        font-family: "Roboto", sans-serif;
        font-weight: lighter;
        margin: 0;
        font-size: 0.8rem;
        text-align: center;

        span {
          display: inline-block;
        }
      }
    }
  }
}
