@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Regular"), url("..//assets/fonts/TrajanPro-Regular.woff") format("woff");
}

@font-face {
  font-family: "Trajan Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Trajan Pro Bold"), url("..//assets/fonts/TrajanPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-BlackItalic.woff2") format("woff2"), url("..//assets/fonts/Bookmania-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-Black.woff2") format("woff2"), url("..//assets/fonts/Bookmania-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-BoldItalic.woff2") format("woff2"), url("..//assets/fonts/Bookmania-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-Bold.woff2") format("woff2"), url("..//assets/fonts/Bookmania-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-LightItalic.woff2") format("woff2"), url("..//assets/fonts/Bookmania-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-Italic.woff2") format("woff2"), url("..//assets/fonts/Bookmania-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-Light.woff2") format("woff2"), url("..//assets/fonts/Bookmania-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-Regular.woff2") format("woff2"), url("..//assets/fonts/Bookmania-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-SemiBoldItalic.woff2") format("woff2"), url("..//assets/fonts/Bookmania-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bookmania";
  src: url("..//assets/fonts/Bookmania-SemiBold.woff2") format("woff2"), url("..//assets/fonts/Bookmania-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes move_cloud {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 500% 0%;
  }
}

@keyframes move_cloud {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 500% 0%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Bookmania", sans-serif;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  overflow-x: hidden;
}

.title-container {
  width: 100%;
  position: absolute;
  top: 0%;
}

.title-container p {
  color: black;
  font-weight: 600;
  font-size: 1.2rem;
  margin: -3vw;
  text-align: center;
  opacity: 0.65;
}

.title-container h1 {
  font-family: "Trajan Pro Bold", Arial, Helvetica, sans-serif;
  font-size: 14vw;
  text-align: center;
  opacity: 0.65;
  color: black;
  margin: 4% 0 0 0;
}

.discover-container {
  font-size: 1rem;
  line-height: 1.5;
  position: absolute;
  width: 100%;
  bottom: 23%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discover-container button {
  padding: 0.5rem 3rem;
  margin: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.3);
  color: #adadad;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 2rem;
}

.discover-container button:hover {
  background: rgba(126, 128, 129, 0.3);
  color: black;
}

.discover-container button a {
  color: inherit;
  text-decoration: none;
  padding: 0;
}

#parallax {
  display: block;
}

.keyart {
  position: relative;
  z-index: 10;
  height: 100vh;
}

.keyart_layer {
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
}

.keyart_layer.parallax {
  position: fixed;
}

#keyart-0 {
  background-image: url("../assets/img/layer_sky.png");
  background-color: #15151d;
}

#keyart-1 {
  background-image: url("../assets/img/layer_lake.png");
  background-position: bottom center;
}

#keyart-2 {
  background-image: url("../assets/img/layer_cloud.png");
  background-size: 90%;
  background-repeat: repeat-x;
  background-position: 0% 0%;
  -webkit-animation: move_cloud 60s linear alternate infinite;
          animation: move_cloud 60s linear alternate infinite;
}

#keyart-3 img {
  position: absolute;
  width: 15%;
  right: 25%;
  top: 41%;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  cursor: pointer;
}

#keyart-4 {
  background-image: url("../assets/img/layer_tree.png");
  background-position: bottom center;
}

.content {
  position: absolute;
  top: 99vh;
  height: 2000px;
  width: 100%;
  background-color: #15151d;
  z-index: 1000;
}
/*# sourceMappingURL=index.css.map */