@import "include-media";
@import "fonts";
@import "animation";
@import "modal";

//------------------------------//
/*BASE*/
//------------------------------//

$red: #b41f3d;
$grey: #cccccc;
$yellow: #d2ac6e;
$lightBlue: #3887a6;
$blue: #254b58;
$navy: #19212a;
$black: #15151d;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  margin: 0px;
  overflow-x: hidden;
  width: 100%;
}

p {
  font-family: "Roboto", sans-serif;
}

@import "parallax-section";
@import "content-section";
